body {
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar {
	margin-bottom: 20px;
}
.footer {
	background-color: #f1f1f1;
	height: 50px;
}
.footer p {
	font-weight: bold;
	color: #000;
	line-height: 50px;
	padding-left: 10px;
}